/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* reset style link */
a {
  text-decoration: none;
}

/* reset style list */
ul {
  list-style: none;
}

/* header section */

header {
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
}

/* HEADER */
.banner {
  background-color: #f09226;
  font-family:
    "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.main-header {
  background-color: #111111fb;
  position: fixed;
  width: 100%;
  margin-top: 40px;
  z-index: 9998;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

img {
  max-height: 700px;
  object-fit: cover;
}

.padding {
  padding-top: 30px;
  min-height: auto;
}
